.homeComponent h1 {
    text-align: center;
    margin: 4rem 0;
    font-size: 50px;
}

.homeComponent ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

.homeComponent li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeComponent img {
    width: 180px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.homeComponent span {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}


.homeComponent a {
    transition: all 0.3s
}

.homeComponent a:hover {
    transform: scale(1.1)
}

